@media (max-width: 1400px) {

    #gallery-section .gall-img {
        height: 1025px;
    }
}

@media (max-width: 1200px) {
    nav .container {
        padding-right: 40px;
    }

    .bars-icon {

        display: block;
        margin-right: 40px;
    }

    nav .container .links {
        transform: translatex(100%);
        background-color: white;
        width: 320px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px;
    }

    nav .container .links ul {
        text-align: left;
        flex-direction: column;
        padding-inline: 20px;
    }

    nav .container .links ul li {
        padding-block: 20px;
    }

    .mode-icon {
        margin-left: auto;
        margin-right: 15px;
    }

    #gallery-section .gall-img {
        height: 1000px;

    }

    /* ----------------------------------------------------------------------- */
    footer .container .our-social,
    footer .container .communicate {
        width: calc((100% - var(--gap)*2)/2);
        order: 1;
    }

    footer .container .Subscribe {
        width: 100%;
        order: 2;

    }

}

@media  (max-width: 992px) {
    #home-section {
        width: 100%;
        background-color: var(--light-background);
        height: auto;
    }

    #home-section .container {
        flex-direction: column-reverse;
        justify-content: center;

    }

    #home-section .home-item {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-btn {
        border-radius: 30px;
    }

    /* ---------------------------------------------------------------- */
    #gallery-section .gall-img {
        height: 1650px;
    }

    #gallery-section .gall-img .img {
        width: calc((100% - 20px) / 2);

    }

    .img1-pizza {
        order: 1;
    }
    .img2-slices-pizza {
        order: 3;
    }
    .img3-steak {
        order: 5;
    }

    .img4-omelette {
        order: 4;
    }
    .img5-burger {
        order: 2;
    }
 
    .img6-chicken {
        order: 6;
    }

    .img7-kebab {
        order: 7;
    }
   
    /* ------------------------------------------------------------------------- */
    #chefs-section .chefs-item {

        width: calc((100% - 35px)/2);

    }

    /* --------------------------------------------- */
   #contact-section .container form .name,
   #contact-section .container form .email {
        width: 100%;
    }

}

@media (max-width: 768px) {

    #gallery-section .gall-img {
        height: auto;
    }

    #gallery-section .gall-img .img {
        width: 100%;

    }

    /* ----------------------------------------------------------------- */
    #chefs-section .chefs-item {
        margin: auto;
        width: 100%;
    }

    /* -------------------------------------------------------------------- */


   #contact-section .container .info-cont-section .cont-item {

        width: 100%;

    }

    /* -------------------------------------------------------------------- */
    footer .container .our-social,
    footer .container .communicate,
    footer .container .Subscribe {
        width: 100%;
        order: 0;
    }

    footer .container .communicate li span {
        max-width: 100%;
    }
}